<div class="container">
<div class="row mb-5">
  <div class="col-md-4">
    <h3>The Land of Morning Calm seen by Baguettes</h3>
    <p>
      <img src="/images/img_1.jpg" alt="Image placeholder" class="img-fluid">
    </p>

    <p>We're three french Baguettes studying computer programming who decided to discover Seoul for their 4th year of study. We've all decided to come for a reason, either for the technology, the culture, the food or the country itself ; But how is it really ? Discover it through our eyes !</p>
  </div>
  <div class="col-md-6 ml-auto">
    <div class="row">
      <div class="col-md-7">
        <h3>Latest Post</h3>
        <div class="post-entry-sidebar">
          <ul>

          <% if (articles.length > 0) { var i = 0; %>
          <% articles.forEach((article, index) => { if (i < 3) { i += 1; %>
          <li>
              <a href="/article?id=<%= article.id %>">
                <img src="<%= article.main_picture_name %>" alt="Image placeholder" class="mr-4">
                <div class="text">
                  <h4><%= article.title %></h4>
                  <div class="post-meta">
                    <span class="mr-2"><%= article.creation_date.toDateString() %></span>
                  </div>
                </div>
              </a>
            </li>
          <% }})
          }%>  
          </ul>
        </div>
      </div>
      <div class="col-md-1"></div>
      
      <div class="col-md-4">

        <div class="mb-5">
          <h3>Quick Links</h3>
          <ul class="list-unstyled">
            <li><a href="/category?type=lifestyle">Lifestyle </a></li>
            <li><a href="/category?type=food">Food</a></li>
            <li><a href="/category?type=studentlife">Student Life</a></li>
            <li><a href="/category?type=visit">Visit</a></li>
          </ul>
        </div>
        
        
      </div>
    </div>
  </div>
</div>
</div>