<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-12 search-top">
        <form onsubmit="return searchTags();" class="search-top-form">
          <a onclick="return searchTags();">
            <span class="icon fa fa-search"></span>
          </a>
          <input type="text" id="tags-input" placeholder="Type tag to search...">
          <!-- <input type="submit" class="submit" value="Search" />-->
        </form>
      </div>
    </div>
  </div>
</div>

<script>
function searchTags() {
  var tags = document.getElementById('tags-input').value;
  window.location.href = '/search?tags=' + tags;
  return false;
}
</script>

<div class="container logo-wrap">
    <div class="row pt-5">
        <div class="col-12 text-center">
          <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button" aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
          <h1 class="site-logo" style="display:inline-block;"><a href="/">The Land of Morning Calm seen by Baguettes<br><img src="/images/travel.png" height="90px"></a></h1>
        </div>
    </div>
</div>
      
<nav class="navbar navbar-expand-md  navbar-light bg-light">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/category" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
                  <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="/category?type=lifestyle">Lifestyle</a>
                    <a class="dropdown-item" href="/category?type=food">Food</a>
                    <a class="dropdown-item" href="/category?type=studentlife">Student Life</a>
                    <a class="dropdown-item" href="/category?type=visit">Visit</a>
                  </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/thought" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our thoughts</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                      <a class="dropdown-item" href="/thought?name=Julie">Julie</a>
                      <a class="dropdown-item" href="/thought?name=Leo">Leo</a>
                      <a class="dropdown-item" href="/thought?name=Sebastien">Sebastien</a>
                    </div>
    
                </li>
    
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
