<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/animate.css">
<link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css">

<link rel="stylesheet" type="text/css" href="/fonts/ionicons/css/ionicons.min.css">
<link rel="stylesheet" type="text/css" href="/fonts/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/fonts/flaticon/font/flaticon.css">

<!-- Theme Style -->
<link rel="stylesheet" type="text/css" href="/css/style.css">
