
            <div class="sidebar-box search-form-wrap">
              <form onsubmit="return searchTagsSider();" class="search-form">
                <div class="form-group">
                  <span class="icon fa fa-search"></span>
                  <input type="text" class="form-control" id="tags-input-sider" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
            <script>
                function searchTagsSider() {
                  var tags = document.getElementById('tags-input-sider').value;
                  window.location.href = '/search?tags=' + tags;
                  return false;
                }
            </script>
            <!-- END sidebar-box -->
            <div class="sidebar-box">
              <div class="bio text-center">
                <img src="/images/person.png" alt="Image Placeholder" class="img-fluid">
                <div class="bio-body">
                  <h2>Baguettes</h2>
                  <p>We're three french Baguettes studying computer programming who decided to discover Seoul for their 4th year of study. We've all decided to come for a reason, either for the technology, the culture, the food or the country itself ; But how is it really ? Discover it through our eyes !</p>
                </div>
              </div>
            </div>
            <!-- END sidebar-box -->  
            
            <!-- END sidebar-box -->

            <div class="sidebar-box">
              <h3 class="heading">Categories</h3>
              <ul class="categories">          
                <li><a href="/category?type=lifestyle">Lifestyle <span>(<%= nbArticle[0].Lifestyle %>)</span></a></li>
                <li><a href="/category?type=food">Food <span>(<%= nbArticle[0].Food %>)</span></a></li>
                <li><a href="/category?type=studentlife">Student Life <span>(<%= nbArticle[0].StudentLife %>)</span></a></li>
                <li><a href="/category?type=visit">Visit <span>(<%= nbArticle[0].Visit %>)</span></a></li>
              </ul>
            </div>
            <!-- END sidebar-box -->
