<!doctype html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <header role="banner">
    <% include ../partials/header %>
  </header>

  <section class="site-section pt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <p>This website was created for study purpose at Chung Ang University</p>

        </div>
      </div>
    </div>
  </section>

  <footer class="site-footer">
    <% include ../partials/footer %>
  </footer>
  
  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg>
  </div>
  
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery-migrate-3.0.0.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="/js/jquery.stellar.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>