<!doctype html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <header role="banner">
    <% include ../partials/header %>
  </header>

  <section class="site-section py-lg">
    <div class="container">

      <div class="row blog-entries">
        <div class="col-md-12 col-lg-8 main-content">
          <% if (article.length == 1) { %>
          <h1 class="mb-4">
            <%= article[0].title %>
          </h1>
          <h4 class="mb-4">
            <%= article[0].subtitle %>
          </h2>
          <div class="post-meta">
            <span><%= article[0].category %></span> &bullet;
            <% var tags = article[0].tags.split(" ");
            tags.forEach((tag, index) => { %>
            <span class="category">
              <a href="/search?tags=<%= tag %>" style="color:white"><%= tag %></a>
            </span>
            <% }) %>
            &bullet;<span class="mr-2"> <%= article[0].creation_date.toDateString() %> </span>
          </div>
          <div class="post-content-body">
            <div class="row mb-5">
              <div class="col-md-12 mb-4 element-animate">
                <img src="<%= article[0].main_picture_name %>" alt="Image placeholder" class="img-fluid">
              </div>
            </div>
            <div>
              <%- article[0].content %>
            </div>
          </div>
          <% } else { %>
          <div class="col-md-12">
            <p>Oooops, we can't find this article</p>
          </div>
          <% } %>
          </div>

        <!-- END main-content -->

        <div class="col-md-12 col-lg-4 sidebar">
          <% include ../partials/sider %>
        </div>

      </div>
    </div>
  </section>

  <footer class="site-footer">
    <% include ../partials/footer %>
  </footer>
  <!-- END footer -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.0.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>


  <script src="js/main.js"></script>
</body>

</html>