<!doctype html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <header role="banner">
    <% include ../partials/header %>
  </header>

  <section class="site-section py-sm category-page">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="mb-4">
            <%= type %>
          </h2>
        </div>
      </div>
      <div class="row blog-entries">
        <div class="col-md-12 main-content">
          <div class="row">
            <% if (articlesCategory.length > 0) {
            articlesCategory.forEach((article, index) => { %>
            <div class="col-md-6">
              <a href="/article?id=<%= article.id %>" class="blog-entry element-animate" data-animate-effect="fadeIn">
                <img src="<%= article.main_picture_name %>" alt="Image placeholder">
                <div class="blog-content-body">
                  <div class="post-meta">
                    <% var tags = article.tags.split(" ");
                    tags.forEach((tag, index) => { %>
                    <span class="category">
                      <%= tag %>
                    </span>
                    <% }) %>
                    <span class="mr-2"><%= article.creation_date.toDateString() %> </span>
                  </div>
                  <h1><%= article.title %></h1>
                  <h2><%= article.subtitle %></h2>
                </div>
              </a>
            </div>
            <% }) 
            } else {%>
            <div class="col-md-12">
              <p>There is no articles in this category</p>
            </div>
            <% } %>
            </div>

        </div>

        <!-- END main-content -->

      </div>
    </div>
  </section>
  <footer class="site-footer">
    <% include ../partials/footer %>
  </footer>
  <!-- END footer -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg>
  </div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.0.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>