<!doctype html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
<header role="banner">
    <% include ../partials/header %>
</header>
<section class="site-section pt-5">
<div class="text-center">
<h1 class="mb-4">
    Click to contact us !</br>
</h1>
</div>
        <div class="container">
        <div class="row">
        <div class="col-md-6 col-lg-4">
        <a href="mailto:julie.bodart@epitech.eu" class="a-block d-flex align-items-center height-md" style="background-image: url('images/julie.JPG'); ">
        <div class="text">
        <h3>Julie Bodart</h3>
      </div>
      </a>
      </div>
          <div class="col-md-6 col-lg-4">
          <a href="mailto:leo.paol@epitech.eu" class="a-block d-flex align-items-center height-md" style="background-image: url('images/leo.jpg'); ">
          <div class="text">
          <h3>Léo Paol</h3>
        </div>
        </a>
        </div>
        <div class="col-md-6 col-lg-4">
        <a href="mailto:sebastien.leguischer@epitech.eu" class="a-block d-flex align-items-center height-md" style="background-image: url('images/seb.jpg'); ">
        <div class="text">
        <h3>Sébastien Le Guischer</h3>
      </div>
      </a>
      </div>
          </div>
        </div>
      </section>









  <footer class="site-footer">
    <% include ../partials/footer %>
  </footer>
  <!-- END footer -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg>
  </div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.0.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>