  <!doctype html>
  <html lang="en">
    <head>
      <% include ../partials/head %>
    </head>
    <body>  
      <header role="banner">
        <% include ../partials/header %>
      </header>

      <!-- CAROUSSEL -->

      <section class="site-section pt-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <% if (carouselArticles.length > 0) { %>
                <div class="owl-carousel owl-theme home-slider">
                  <% carouselArticles.forEach((carouselArticle, index) => { %>
                <div>
                <a href="/article?id=<%= carouselArticle.id %>" class="a-block d-flex align-items-center height-lg" style="background-image: url('<%= carouselArticle.main_picture_name %>'); ">
                <div class="text half-to-full">
                  <div class="post-meta">
                    <span><%= carouselArticle.category %></span> &bullet;
                    <% var tags = carouselArticle.tags.split(" ");
                    tags.forEach((tag, index) => { %>
                    <span class="category"><%= tag %></span>
                    <%})%>
                    &bullet; <span class="mr-2"><%= carouselArticle.creation_date.toDateString() %> </span> 
                  </div>
                  <h3><%= carouselArticle.title %></h3>
                  <p><%= carouselArticle.subtitle %></p>
                </div>
                </a>
                </div>
              <% }) 
              } %>
            </div>
          </div>

<!-- CAROUSSEL ARTICLE --> 

          <div class="row">
          <% if (carouselArticles.length > 0) { %>
          <% carouselArticles.forEach((carouselArticle, index) => { %>
          <div class="col-md-6 col-lg-4">
            <a href="/article?id=<%= carouselArticle.id %>" class="a-block d-flex align-items-center height-md" style="background-image: url('<%= carouselArticle.main_picture_name %>'); ">
            <div class="text">
              <div class="post-meta">
                  <span><%= carouselArticle.category %></span> &bullet;
                  <% var tags = carouselArticle.tags.split(" ");
                  tags.forEach((tag, index) => { %>
                  <span class="category"><%= tag %></span>
                  <%})%>
                  &bullet; <span class="mr-2"><%= carouselArticle.creation_date.toDateString() %> </span>
              </div>
              <h3><%= carouselArticle.title %></h3>
            </div>
            </a>
          </div>
          <% }) 
          } %>
          </div>
        </div>
      </section>

  <!-- LATEST POST --> 

      <section class="site-section py-sm">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h2 class="mb-4">Latest Post</h2>
            </div>
          </div>
        <div class="row blog-entries"> 
          <div class="col-md-12 col-lg-8 main-content">
            <div class="row">
              <% if (articles.length > 0) { var i = 0; %>
              <% articles.forEach((article, index) => { if (i < 8) { i += 1; %>
              <div class="col-md-6">
                <a href="/article?id=<%= article.id %>" class="blog-entry element-animate" data-animate-effect="fadeIn">
                <img src="<%= article.main_picture_name %>" alt="Image placeholder">
                  <div class="blog-content-body">
                    <div class="post-meta">
                        <span><%= article.category %></span> &bullet;
                        <% var tags = article.tags.split(" ");
                        tags.forEach((tag, index) => { %>
                        <span class="category"><%= tag %></span>
                        <%})%>
                        &bullet; <span class="mr-2"><%= article.creation_date.toDateString() %> </span>
                    </div>
                    <h2><%= article.title %></h2>
                  </div>
                </a>
              </div>
              <% }})
              }%>     
          </div>
        </div>


  <!-- SIDEBAR -->
        <div class="col-md-12 col-lg-4 sidebar">
        <% include ../partials/sider %>
        </div>     
      </div>
    </div>
  </section>

  <!-- FOOTER -->   
  <footer class="site-footer">
    <% include ../partials/footer %>
  </footer>
  <!-- END footer -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>

  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery-migrate-3.0.0.js"></script>
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/owl.carousel.min.js"></script>
  <script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
  <script type="text/javascript" src="/js/jquery.stellar.min.js"></script>
  <script src="js/main.js"></script>
  </body>
  </html>