<!doctype html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
<header role="banner">
    <% include ../partials/header %>
</header>
<section class="site-section py-lg">
    <div class="container">
        <div class="row blog-entries">
            <div class="col-md-12 main-content">
                <div class="text-center">
                    <h1 class="mb-4">
                        <%= name %>
                    </h1>
                    <div class="post-content-body">
                        <div class="col-md-12 mb-4 element-animate">
                            <img src="<%= thought[0].image_path %>" alt="Image placeholder" class="img-fluid">
                        </div>
                        <h3 class="mb-4">
                            <%= thought[0].title %>
                        </h3>
                    </div>
                </div>
                <%- thought[0].content %>
            </div>
        </div>
    </div>
</section>
</div>

  <footer class="site-footer">
    <% include ../partials/footer %>
  </footer>
  <!-- END footer -->

  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg>
  </div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.0.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/main.js"></script>
</body>

</html>